.app-footer {
  align-items: center;
  background-color: #1251d4;
  color: #fff;
  display: flex;
  flex-direction: column;
  left: 0;
  margin-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  right: 0;
}

.app-footer p {
  color: #85e5ff;
  text-align: center;
}

.footer-contact {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.footer-contact p {
  color: #85e5ff;
  margin: 0;
  margin-left: 10px;
}

.footer-contact-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 40%;
}

.social-icon {
  fill: #fff;
  height: 2rem;
  width: 2rem;
}
